<div fxLayout="column" fxLayoutAlign="stretch stretch" fxLayoutGap="20px">
  <!-- <pre>{{ draft | json }}</pre> -->

  <mat-form-field>
    <!-- <mat-label>Name:</mat-label> -->
    <input matInput placeholder="Name" [(ngModel)]="draft.name" />
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <mat-hint>{{ draft.name.length }} / 170</mat-hint>
  </mat-form-field>

  <div>
    <mat-checkbox [(ngModel)]="draft.public">Public</mat-checkbox>
  </div>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Description"
      [(ngModel)]="draft.description"
    ></textarea>
  </mat-form-field>
</div>

<button mat-raised-button color="warn" (click)="cancelClicked()">Cancel</button>
<button mat-raised-button color="primary" (click)="saveClicked()">Save</button>
