<p>playlists works!</p>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div fxFlex="30">
    <app-playlist-list 
    [items]="playlists"
    (selectedIdChange)="selectItem($event)"
    [selectedId]="selectedId"
    ></app-playlist-list>
  </div>
  <div fxFlex="50">
    <div [ngSwitch]="mode">
      <div *ngSwitchCase="'details'">
        <app-playlist-details (edit)="switchToEdit()" [playlist]="selected!"></app-playlist-details>
      </div>
      <div *ngSwitchCase="'edit'">
        <app-playlist-edit-form (cancel)="switchToDetails()" (save)="save()"></app-playlist-edit-form>
      </div>
    </div>
  </div>
</div>
