<mat-sidenav-container class="example-container" fxFlexFill>
  <mat-sidenav mode="side" opened fxFlex="1 1 200px" fxLayout="column" fxLayoutGap="20px">
    <mat-toolbar color="primary">
      <mat-icon></mat-icon>
    </mat-toolbar>
    <mat-list>
      <mat-list-item routerLink="/music">
        Music search
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item routerLink="/playlists">
        Playlists
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-wrapper">
    <mat-toolbar color="primary">
      <mat-icon></mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
