<mat-sidenav-container class="example-container" fxFlexFill>
    <mat-sidenav #sidenav mode="side" opened fxLayout="column" fxFlex="1 1 150px" fxLayoutAlign="start start" fxLayoutGap="20px">
        <mat-toolbar color="primary">
            <mat-icon></mat-icon>
        </mat-toolbar>
        Sidenav content
    </mat-sidenav>

    <mat-sidenav-content class="content-wraper">
        <mat-toolbar color="primary">
            <mat-icon></mat-icon>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>