<mat-list>
    <mat-list-item>
        <span matLine>Name:</span>
        <span matLine>{{playlist.name}}</span>
    </mat-list-item>
    <mat-list-item>
        <span matLine>Public:</span>
        <!-- <span matLine [ngStyle]="{
            color: playlist.public ? 'green' : 'red'
        }">
            {{playlist.public ? 'Yes' : 'No'}}</span> -->
        <span matLine class="is-public" [ngClass]="{
            'is-public-yes': playlist.public,
            'is-public-no': !playlist.public
        }">
            {{playlist.public ? 'Yes' : 'No'}}</span>
    </mat-list-item>
    <mat-list-item>
        <span matLine>Description:</span>
        <span matLine>{{playlist.description}}</span>
    </mat-list-item>
</mat-list>